.mainchat  
  .mainchat__header
    .mainchat__header__groupname
      = @group.name
      .mainchat__header__groupname__member
        member :
        .mainchat__header__groupname__member__list
          - @group.group_users.each do |group_user|
            = group_user.user.name
    .mainchat__header__edit
      = link_to edit_group_path(@group), class: "mainchat__header__edit--btn" do
        Edit
  .messagebox
    = render @messages
    
  .foom
    .foom__box
      .foom__box__input
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'foom__box__input__text', placeholder: 'type a message'
          = f.label :image, class: 'foom__box__input__label' do
            = icon('fas', 'image', class: "foom__box__input__image--btn")
            = f.file_field :image, class: 'foom__box__input__image__file'
          .foom__box__send
            = f.submit 'Send', class: 'foom__box__send foom__box__send--btn'